*{
  margin: 0;
  padding: 0;
}

:root{
  --primary : #FCD34D;
}
.main{
  margin: auto;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.header{
  background-color: var(--primary);
  height: 5vh;
  padding: 1rem 0rem;
}
.text{
  font-size: 1.05rem;
  padding: 2rem;
}